/* variables */
:root{
    --main-font-color:#000000;
    --secondary-bg-color:#000000;
    --primary-bg-color:#666c71;
    --wiki-border:rgba(0, 0, 0, 0.4);
    --focus-button-color:#233cca;
    
}
html{
    font-size: 10px;
}
body{
    color: white;
    background-color: var(--primary-bg-color);
    margin: 0;
    min-height: 100vh;
    /* background-image: url("../img/bg.jpg") ; */
    background-repeat: repeat,repeat;
    justify-content: center;
}
primary-bg-color{
}
input{

}
img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}


/* typography */
.current-player{
    color: goldenrod;
}
.lobby-owner{
    text-decoration: underline;
    font-weight: 900;
 
}

/* styles */
.box-shadow{
    border: 5px solid hsl(0, 0%, 40%);
  /* #2 */
  padding: 5px;
  background: hsl(0, 0%, 20%);
  color:white;
  /* #3 */
  outline: 5px solid hsl(0, 0%, 60%);
  
  /* #4 AND INFINITY!!! (CSS3 only) */
  box-shadow:
      0 0 0 10px hsl(0, 0%, 80%);
}
.text-multi-border{

}
/* layout */
.flex{
    display: flex;
    flex-direction: column;
}

.flex-horizontal{
    display: flex;
}

.main-container{
    width: 100%;
    margin: 0 auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.player-list-container{
    height: 20%;
}
.settings-container{
    height: 80%;
    flex-grow: 1;
}
.settings{
    height: 80%;
}
.single-setting{
    text-align: center;
    margin: 0 auto; 
    padding: 0.5em;
}
.start-options{
    margin: 1em;
    margin-bottom: 2em;
    height: 20%;
}

.single-player-container{
    padding: 0.5em;
    margin-left: 0.2em;
    max-width: 80px;
    align-items: center;
}
.username p{
    font-weight: bold;
    font-size: 1.3rem;
}
.start-options{
    justify-content: space-evenly;
    text-align: center;
}
.buttons-container{
    width: 100%;
}
button{
    padding: 0.8em;
    width: 10%;
    margin-left: 1em;
    min-width: fit-content;
}

.game-content-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wikipage-container{
    padding: 1em;
    width: 80%;
    margin: 0 auto;
}
.player-article-container{
    width: 20%;
    background-color: tomato;
}
@media (min-width: 650px) {
    html{
        font-size: 16px;
    }
    .main-container{
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .settings{
        order: -1;
    }
    .player-list-container{
        height: auto;
        width: 20%;
        min-width: fit-content;
        order: -1;
        flex-direction: column;
    }
    .single-player-container{
        max-width: 270px;
        flex-direction: row;
        width: 100%;
    }
    .settings-container{
        flex-grow: 0;
        height: auto;
        width: 50%;
    }
    .username{
        width: 20%;
        margin-left: 2em;
    }
    .avatar{
        width: 30%;
    }
    .wikipage-container{
        width: 70%;
    }
    .player-article-container{
        width: 30%;
    }
  }



  /* results style */
.result-table{
    width: 100%;
}
.result-table-img{
    width: 80%;
    max-width: 150px;
    height: auto;
}
img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
.results-row-end{
    width: 100%;
    border-bottom: 1px black;
    padding-bottom: 0.75em;
}
@media (min-width: 650px) {
    .result-table-img{
        width: 30%;
    }
  }

.player-article{
width:100%;
margin: 0 auto;
background:yellow;
}
.player{
display:flex;   
background:tomato;
}
.player-img{
width:5%;
height:50px;

}
.player-username{
display:flex;
flex-direction:column;
justify-content:space-around;
background:purple;
}
.player-article{

}  