.hud-container{
    
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: var(--secondary-bg-color);
    border-bottom: 1px solid #a2a9b1;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.game-container{
    flex-direction: column;
    width: 70%;
}